#define TCOMBO(NAME, BINDINGS, OUTER_BINDINGS, INNER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_li_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ri_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS ROT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <LOT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_kr { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&key_repeat>; \
	key-positions = <LIT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_kr { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&key_repeat>; \
	key-positions = <RIT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_both { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&sk_lshift_lock>; \
    key-positions = <LIT LOT>; \
    layers = <COMBO_LAYERS>; \
};

combo_r_both { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&sk_lshift_lock>; \
    key-positions = <RIT ROT>; \
    layers = <COMBO_LAYERS>; \
};

TCOMBO(BSPC,    &kp BSPC,        &kp HOME,           &as N1,             &none,             TLP,             TRP)
TCOMBO(E,       &as E,           &kp PG_DN,          &as N3,             &kp C_BRI_UP,      TLM,             TRM)
TCOMBO(A,       &as A,           &kp PG_UP,          &as N5,             &kp C_BRI_DN,      TLM,             TRM)
TCOMBO(T,       &as T,           &kp END,            &as N7,             &kp C_PP,          TLI,             TRI)
TCOMBO(TAB,     &kp TAB,         &kp LEFT,           &as N2,             &kp C_NEXT,        BLP,             BRP)
TCOMBO(I,       &as I,           &kp DOWN,           &as N4,             &kp C_VOL_UP,      BLR,             BRR)
TCOMBO(O,       &as O,           &kp UP,             &as N6,             &kp C_VOL_DN,      BLM,             BRM)
TCOMBO(N,       &as N,           &kp RIGHT,          &as N8,             &kp C_PREV,        BLI,             BRI)
TCOMBO(RALT,    &sk_ralt_lock,   &kp GT,             &kp LT,             &bt BT_SEL 0,      TLP BLP,         TRP BRP)
TCOMBO(LALT,    &sk_lalt_lock,   &kp RBRC,           &kp LBRC,           &bt BT_SEL 1,      TLR BLR,         TRR BRR)
TCOMBO(LCTRL,   &sk_lctrl_lock,  &kp RBKT,           &kp LBKT,           &bt BT_SEL 2,      TLM BLM,         TRM BRM)
TCOMBO(LMETA,   &sk_lmeta_lock,  &kp RPAR,           &kp LPAR,           &bt BT_SEL 3,      TLI BLI,         TRI BRI)
TCOMBO(H,       &as H,           &kp AMPS,           &kp PIPE,           &none,             TLR TLM,         TRR TRM)
TCOMBO(S,       &as S,           &kp EQUAL,          &kp PLUS,           &none,             TLR TLI,         TRR TRI)
TCOMBO(R,       &as R,           &as N0,             &as N1,             &none,             TLM TLI,         TRM TRI)
TCOMBO(U,       &as U,           &kp AT,             &none,              &none,             BLR BLM,         BRR BRM)
TCOMBO(C,       &as C,           &caps_word,         &kp CAPS,           &none,             BLR BLI,         BRR BRI)
TCOMBO(L,       &as L,           &kp ASTERISK,       &kp CARET,          &none,             BLM BLI,         BRM BRI)
TCOMBO(Y,       &as Y,           &kp HASH,           &none,              &none,             TLR BLM,         TRR BRM)
TCOMBO(G,       &as G,           &kp DOLLAR,         &none,              &none,             BLR TLM,         BRR TRM)
TCOMBO(W,       &as W,           &kp PERCENT,        &none,              &none,             TLR BLI,         TRR BRI)
TCOMBO(M,       &as M,           &kp SLASH,          &kp BSLH,           &none,             BLR TLI,         BRR TRI)
TCOMBO(D,       &as D,           &kp PRINTSCREEN,    &kp LS(PRINTSCREEN),&kp LG(S),         TLM BLI,         TRM BRI)
TCOMBO(F,       &as F,           &none,              &none,              &none,             BLM TLI,         BRM TRI)
TCOMBO(APOS,    &kp APOS,        &kp DQT,            &kp GRAVE,          &none,             TLR BLR TLM,     TRR BRR TRM)
TCOMBO(COMMA,   &kp COMMA,       &kp QMARK,          &kp SEMI,           &none,             TLR BLR TLI,     TRR BRM TRI)
TCOMBO(DASH,    &kp MINUS,       &kp UNDER,          &kp TILDE,          &none,             TLR BLR BLM,     TRR BRR BRM)
TCOMBO(DOT,     &kp DOT,         &kp EXCL,           &kp COLON,          &none,             TLR BLR BLI,     TRR BRM BRI)
TCOMBO(P,       &as P,           &none,              &none,              &none,             TLM BLM TLR,     TRM BRM TRR)
TCOMBO(B,       &as B,           &none,              &none,              &none,             TLM BLM BLR,     TRM BRM BRR)
TCOMBO(Z,       &as Z,           &none,              &none,              &none,             TLM BLM TLI,     TRM BRM BRI)
TCOMBO(X,       &as X,           &none,              &none,              &none,             TLM BLM BLI,     TRM BRM TRI)
TCOMBO(Q,       &as Q,           &none,              &none,              &none,             TLI BLI TLR,     TRI BRI TRR)
TCOMBO(J,       &as J,           &none,              &none,              &none,             TLI BLI BLR,     TRI BRI BRR)
TCOMBO(V,       &as V,           &none,              &none,              &none,             TLI BLI TLM,     TRI BRI TRM)
TCOMBO(K,       &as K,           &none,              &none,              &none,             TLI BLI BLM,     TRI BRI BRM)
TCOMBO(BT,      &sl 5,           &none,              &none,              &none,             TLR BLR TLM BLM, TRR BRR TRM BRM)
TCOMBO(NAVLOCK, &navlock,        &none,              &none,              &none,             TLR BLR TLI BLI, TRR BRR TRI BRI)
TCOMBO(NUMLOCK, &numlock,        &sk_lshift_lock,    &none,              &none,             TLM BLM TLI BLI, TRM BRM TRI BRI)
TCOMBO(RET,     &kp RET,         &kp LS(RET),        &kp LS(RET),        &kp LS(RET),       TLR TLM TLI,     TRR TRM TRI)
TCOMBO(PASTE,   &kp LC(V),       &kp LS(LC(V)),      &none,              &none,             TLR TLM BLI,     TRR TRM BRI)
TCOMBO(COPY,    &kp LC(C),       &kp LS(LC(C)),      &none,              &none,             TLR BLM TLI,     TRR BRM TRI)
TCOMBO(CUT,     &kp LC(X),       &kp LS(LC(X)),      &none,              &none,             BLR TLM TLI,     BRR TRM TRI)
TCOMBO(UNDO,    &kp LC(Z),       &kp LS(LC(Z)),      &none,              &none,             TLR BLM BLI,     TRR BRM BRI)
TCOMBO(WINDOWS, &kp LG(G),       &kp LG(W),          &none,              &none,             BLR TLM BLI,     BRR TRM BRI)
TCOMBO(REDO,    &kp LS(LC(Z)),   &kp LC(Z),          &none,              &none,             BLR BLM TLI,     BRR BRM TLI)
TCOMBO(ESC,     &kp ESC,         &none,              &none,              &none,             BLR BLM BLI,     BRR BRM BRI)
