/*

    Copyright (c) 2020 The ZMK Contributors

    SPDX-License-Identifier: MIT
    */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0

/ {
chosen { zmk,matrix_transform = &five_column_transform; };

combos {
    compatible = "zmk,combos";

    tabesc-sklalt {
        bindings = <&sk_lalt_lock>;
        key-positions = <10 20>;
    };

    io-u {
        bindings = <&kp U>;
        key-positions = <11 12>;
    };

    in-c {
        bindings = <&kp C>;
        key-positions = <11 13>;
    };

    ie-sklalt {
        bindings = <&sk_lmeta_lock>;
        key-positions = <11 21>;
    };

    ia-y {
        bindings = <&kp Y>;
        key-positions = <11 22>;
    };

    it-w {
        bindings = <&kp W>;
        key-positions = <11 23>;
    };

    on-l {
        bindings = <&kp L>;
        key-positions = <12 13>;
    };

    oe-g {
        bindings = <&kp G>;
        key-positions = <21 12>;
    };

    oa-sklctrl {
        bindings = <&sk_lctrl_lock>;
        key-positions = <12 22>;
    };

    ot-d {
        bindings = <&kp D>;
        key-positions = <12 23>;
    };

    ne-m {
        bindings = <&kp M>;
        key-positions = <13 21>;
    };

    na-f {
        bindings = <&kp F>;
        key-positions = <13 22>;
    };

    nt-skshift {
        bindings = <&sk_lshift_lock>;
        key-positions = <23 13>;
    };

    ea-h {
        bindings = <&kp H>;
        key-positions = <21 22>;
    };

    et-s {
        bindings = <&kp S>;
        key-positions = <21 23>;
    };

    at-r {
        bindings = <&kp R>;
        key-positions = <22 23>;
    };

    ieo-apos {
        bindings = <&kp APOS>;
        key-positions = <21 11 12>;
    };

    ien-minus {
        bindings = <&kp MINUS>;
        key-positions = <21 11 13>;
    };

    iea-comma {
        bindings = <&kp COMMA>;
        key-positions = <11 21 22>;
    };

    iet-dot {
        bindings = <&kp DOT>;
        key-positions = <21 11 23>;
    };

    oai-p {
        bindings = <&kp P>;
        key-positions = <12 22 11>;
    };

    oan-z {
        bindings = <&kp Z>;
        key-positions = <12 22 13>;
    };

    oae-b {
        bindings = <&kp B>;
        key-positions = <22 12 21>;
    };

    oat-x {
        bindings = <&kp X>;
        key-positions = <22 12 23>;
    };

    nti-q {
        bindings = <&kp Q>;
        key-positions = <23 13 11>;
    };

    nto-v {
        bindings = <&kp V>;
        key-positions = <23 13 12>;
    };

    nte-j {
        bindings = <&kp J>;
        key-positions = <21 13 23>;
    };

    nta-k {
        bindings = <&kp K>;
        key-positions = <23 13 22>;
    };

    ieoa-del {
        bindings = <&kp DELETE>;
        key-positions = <21 11 12 22>;
    };

    ient-slnav {
        bindings = <&sticky_navlock>;
        key-positions = <21 11 23 13>;
        layers = <0>;
    };

    eitn-nav-tog {
        bindings = <&tog 2>;
        key-positions = <21 11 23 13>;
        layers = <2>;
    };

    oant-slnum {
        bindings = <&sticky_numlock>;
        key-positions = <22 12 13 23>;
        layers = <0>;
    };

    oant-num-tog {
        bindings = <&tog 3>;
        key-positions = <22 12 13 23>;
        layers = <3>;
    };

    ion-ret {
        bindings = <&kp RET>;
        key-positions = <11 12 13>;
    };

    iot-paste {
        bindings = <&kp LC(V)>;
        key-positions = <11 12 23>;
    };

    ian-copy {
        bindings = <&kp LC(C)>;
        key-positions = <11 13 22>;
    };

    eon-cut {
        bindings = <&kp LC(X)>;
        key-positions = <21 12 13>;
    };

    ean-redo {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <21 22 13>;
    };

    iat-undo {
        bindings = <&kp LC(Z)>;
        key-positions = <23 22 11>;
    };

    eot-pscrn {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <12 23 21>;
    };

    eat-esc {
        bindings = <&gresc>;
        key-positions = <21 22 23>;
    };

    iont-caps_word {
        bindings = <&caps_word>;
        key-positions = <11 12 13 23>;
    };

    ntea-caps {
        bindings = <&kp CAPSLOCK>;
        key-positions = <13 23 22 12 21>;
    };

    ntea-insert {
        bindings = <&kp INSERT>;
        key-positions = <21 22 23 13>;
    };

    SPtab-home {
        bindings = <&kp HOME>;
        key-positions = <32 10>;
    };

    SPesc-left {
        bindings = <&kp LEFT>;
        key-positions = <32 10>;
    };

    SPe-pgdn {
        bindings = <&kp PG_DN>;
        key-positions = <32 10>;
    };

    SPa-pgup {
        bindings = <&kp PG_UP>;
        key-positions = <32 10>;
    };

    SPt-end {
        bindings = <&kp END>;
        key-positions = <32 10>;
    };

    SPi-down {
        bindings = <&kp DOWN>;
        key-positions = <32 10>;
    };

    SPo-up {
        bindings = <&kp UP>;
        key-positions = <32 10>;
    };

    SPn-right {
        bindings = <&kp RIGHT>;
        key-positions = <32 10>;
    };

    SPx-left {
        bindings = <&kp LEFT>;
        key-positions = <32 10>;
    };

    SPc-down {
        bindings = <&kp DOWN>;
        key-positions = <32 10>;
    };

    SPv-right {
        bindings = <&kp RIGHT>;
        key-positions = <32 10>;
    };

    SPtabesc-sklalt {
        bindings = <&sk_lalt_lock>;
        key-positions = <32 10 20>;
    };

    SPio-u {
        bindings = <&kp U>;
        key-positions = <32 11 12>;
    };

    SPin-c {
        bindings = <&kp C>;
        key-positions = <32 11 13>;
    };

    SPie-sklalt {
        bindings = <&sk_lmeta_lock>;
        key-positions = <32 11 21>;
    };

    SPia-y {
        bindings = <&kp Y>;
        key-positions = <32 11 22>;
    };

    SPit-w {
        bindings = <&kp W>;
        key-positions = <32 11 23>;
    };

    SPon-l {
        bindings = <&kp L>;
        key-positions = <32 12 13>;
    };

    SPoe-g {
        bindings = <&kp G>;
        key-positions = <32 21 12>;
    };

    SPoa-sklctrl {
        bindings = <&sk_lctrl_lock>;
        key-positions = <32 12 22>;
    };

    SPot-d {
        bindings = <&kp D>;
        key-positions = <32 12 23>;
    };

    SPne-m {
        bindings = <&kp M>;
        key-positions = <32 13 21>;
    };

    SPna-f {
        bindings = <&kp F>;
        key-positions = <32 13 22>;
    };

    SPnt-skshift {
        bindings = <&sk_lshift_lock>;
        key-positions = <32 23 13>;
    };

    SPea-h {
        bindings = <&kp H>;
        key-positions = <32 21 22>;
    };

    SPet-s {
        bindings = <&kp S>;
        key-positions = <32 21 23>;
    };

    SPat-r {
        bindings = <&kp R>;
        key-positions = <32 22 23>;
    };

    SPieo-apos {
        bindings = <&kp APOS>;
        key-positions = <32 21 11 12>;
    };

    SPien-minus {
        bindings = <&kp MINUS>;
        key-positions = <32 21 11 13>;
    };

    SPiea-comma {
        bindings = <&kp COMMA>;
        key-positions = <32 11 21 22>;
    };

    SPiet-dot {
        bindings = <&kp DOT>;
        key-positions = <32 21 11 23>;
    };

    SPoai-p {
        bindings = <&kp P>;
        key-positions = <32 12 22 11>;
    };

    SPoan-z {
        bindings = <&kp Z>;
        key-positions = <32 12 22 13>;
    };

    SPoae-b {
        bindings = <&kp B>;
        key-positions = <32 22 12 21>;
    };

    SPoat-x {
        bindings = <&kp X>;
        key-positions = <32 22 12 23>;
    };

    SPnti-q {
        bindings = <&kp Q>;
        key-positions = <32 23 13 11>;
    };

    SPnto-v {
        bindings = <&kp V>;
        key-positions = <32 23 13 12>;
    };

    SPnte-j {
        bindings = <&kp J>;
        key-positions = <32 21 13 23>;
    };

    SPnta-k {
        bindings = <&kp K>;
        key-positions = <32 23 13 22>;
    };

    SPieoa-del {
        bindings = <&kp DELETE>;
        key-positions = <32 21 11 12 22>;
    };

    SPient-slnav {
        bindings = <&sticky_navlock>;
        key-positions = <32 21 11 23 13>;
        layers = <32 0>;
    };

    SPeitn-nav-tog {
        bindings = <&tog 2>;
        key-positions = <32 21 11 23 13>;
        layers = <32 2>;
    };

    SPoant-bt {
        bindings = <&sl 5>;
        key-positions = <32 22 12 13 23>;
    };

    SPoant-num-tog {
        bindings = <&tog 3>;
        key-positions = <32 22 12 13 23>;
        layers = <32 3>;
    };

    SPion-ret {
        bindings = <&kp RET>;
        key-positions = <32 11 12 13>;
    };

    SPiot-paste {
        bindings = <&kp LC(V)>;
        key-positions = <32 11 12 23>;
    };

    SPian-copy {
        bindings = <&kp LC(C)>;
        key-positions = <32 11 13 22>;
    };

    SPeon-cut {
        bindings = <&kp LC(X)>;
        key-positions = <32 21 12 13>;
    };

    SPean-redo {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <32 21 22 13>;
    };

    SPiat-undo {
        bindings = <&kp LC(Z)>;
        key-positions = <32 23 22 11>;
    };

    SPeot-pscrn {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <32 12 23 21>;
    };

    SPeat-esc {
        bindings = <&gresc>;
        key-positions = <32 21 22 23>;
    };

    SPiont-caps_word {
        bindings = <&caps_word>;
        key-positions = <32 11 12 13 23>;
    };

    SPntea-caps {
        bindings = <&kp CAPSLOCK>;
        key-positions = <32 13 23 22 12 21>;
    };

    SPntea-insert {
        bindings = <&kp INSERT>;
        key-positions = <32 21 22 23 13>;
    };

    BStab-tab {
        bindings = <&kp TAB>;
        key-positions = <31 10>;
    };

    BSesc-del {
        bindings = <&kp DELETE>;
        key-positions = <31 20>;
    };

    BSe-7 {
        bindings = <&kp N7>;
        key-positions = <31 11>;
    };

    BSa-8 {
        bindings = <&kp N8>;
        key-positions = <31 12>;
    };

    BSt-9 {
        bindings = <&kp N9>;
        key-positions = <31 13>;
    };

    BSi-4 {
        bindings = <&kp N4>;
        key-positions = <31 21>;
    };

    BSo-5 {
        bindings = <&kp N5>;
        key-positions = <31 22>;
    };

    BSn-6 {
        bindings = <&kp N6>;
        key-positions = <31 23>;
    };

/*
// Combos with key positions 20-29 have been commented out as requested.
BSx-1 {
bindings = <&kp N1>;
key-positions = <31 21>;
};

    BSc-2 {
        bindings = <&kp N2>;
        key-positions = <31 22>;
    };

    BSv-3 {
        bindings = <&kp N1>;
        key-positions = <31 23>;
    };

*/

    BStabesc-sklalt {
        bindings = <&sk_lalt_lock>;
        key-positions = <31 10 20>;
    };

    BSio-u {
        bindings = <&kp U>;
        key-positions = <31 11 12>;
    };

    BSin-c {
        bindings = <&kp C>;
        key-positions = <31 11 13>;
    };

    BSie-sklalt {
        bindings = <&sk_lmeta_lock>;
        key-positions = <31 11 21>;
    };

    BSia-y {
        bindings = <&kp Y>;
        key-positions = <31 11 22>;
    };

    BSit-w {
        bindings = <&kp W>;
        key-positions = <31 11 23>;
    };

    BSon-l {
        bindings = <&kp L>;
        key-positions = <31 12 13>;
    };

    BSoe-g {
        bindings = <&kp G>;
        key-positions = <31 21 12>;
    };

    BSoa-sklctrl {
        bindings = <&sk_lctrl_lock>;
        key-positions = <31 12 22>;
    };

    BSot-d {
        bindings = <&kp D>;
        key-positions = <31 12 23>;
    };

    BSne-m {
        bindings = <&kp M>;
        key-positions = <31 13 21>;
    };

    BSna-f {
        bindings = <&kp F>;
        key-positions = <31 13 22>;
    };

    BSnt-skshift {
        bindings = <&sk_lshift_lock>;
        key-positions = <31 23 13>;
    };

    SPea-h {
        bindings = <&kp H>;
        key-positions = <31 21 22>;
    };

    SPet-s {
        bindings = <&kp S>;
        key-positions = <31 21 23>;
    };

    SPat-r {
        bindings = <&kp R>;
        key-positions = <31 22 23>;
    };

    BSieo-apos {
        bindings = <&kp APOS>;
        key-positions = <31 21 11 12>;
    };

    BSien-minus {
        bindings = <&kp MINUS>;
        key-positions = <31 21 11 13>;
    };

    BSiea-comma {
        bindings = <&kp COMMA>;
        key-positions = <31 11 21 22>;
    };

    BSiet-dot {
        bindings = <&kp DOT>;
        key-positions = <31 21 11 23>;
    };

    BSoai-p {
        bindings = <&kp P>;
        key-positions = <31 12 22 11>;
    };

    BSoan-z {
        bindings = <&kp Z>;
        key-positions = <31 12 22 13>;
    };

    BSoae-b {
        bindings = <&kp B>;
        key-positions = <31 22 12 21>;
    };

    BSoat-x {
        bindings = <&kp X>;
        key-positions = <31 22 12 23>;
    };

    BSnti-q {
        bindings = <&kp Q>;
        key-positions = <31 23 13 11>;
    };

    BSnto-v {
        bindings = <&kp V>;
        key-positions = <31 23 13 12>;
    };

    BSnte-j {
        bindings = <&kp J>;
        key-positions = <31 21 13 23>;
    };

    BSnta-k {
        bindings = <&kp K>;
        key-positions = <31 23 13 22>;
    };

    BSieoa-del {
        bindings = <&kp DELETE>;
        key-positions = <31 21 11 12 22>;
    };

    BSient-slnav {
        bindings = <&sticky_navlock>;
        key-positions = <31 21 11 23 13>;
        layers = <31 0>;
    };

    BSeitn-nav-tog {
        bindings = <&tog 2>;
        key-positions = <31 21 11 23 13>;
        layers = <31 2>;
    };

    BSoant-slnum {
        bindings = <&sticky_numlock>;
        key-positions = <31 22 12 13 23>;
        layers = <31 0>;
    };

    BSoant-num-tog {
        bindings = <&tog 3>;
        key-positions = <31 22 12 13 23>;
        layers = <31 3>;
    };

    BSion-ret {
        bindings = <&kp RET>;
        key-positions = <31 11 12 13>;
    };

    BSiot-paste {
        bindings = <&kp LC(V)>;
        key-positions = <31 11 12 23>;
    };

    BSian-copy {
        bindings = <&kp LC(C)>;
        key-positions = <31 11 13 22>;
    };

    BSeon-cut {
        bindings = <&kp LC(X)>;
        key-positions = <31 21 12 13>;
    };

    BSean-redo {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <31 21 22 13>;
    };

    BSiat-undo {
        bindings = <&kp LC(Z)>;
        key-positions = <31 23 22 11>;
    };

    BSeot-pscrn {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <31 12 23 21>;
    };

    BSeat-esc {
        bindings = <&gresc>;
        key-positions = <31 21 22 23>;
    };

    BSiont-caps_word {
        bindings = <&caps_word>;
        key-positions = <31 11 12 13 23>;
    };

    BSntea-caps {
        bindings = <&kp CAPSLOCK>;
        key-positions = <31 13 23 22 12 21>;
    };

    BSntea-insert {
        bindings = <&kp INSERT>;
        key-positions = <31 21 22 23 13>;
    };

    // --- Right Hand Combos (Mirrored) ---

    tabesc-sklalt_R {
        bindings = <&sk_lalt_lock>;
        key-positions = <19 29>;
    };

    io-u_R {
        bindings = <&kp U>;
        key-positions = <18 17>;
    };

    in-c_R {
        bindings = <&kp C>;
        key-positions = <18 16>;
    };

    ie-sklalt_R {
        bindings = <&sk_lmeta_lock>;
        key-positions = <18 28>;
    };

    ia-y_R {
        bindings = <&kp Y>;
        key-positions = <18 27>;
    };

    it-w_R {
        bindings = <&kp W>;
        key-positions = <18 26>;
    };

    on-l_R {
        bindings = <&kp L>;
        key-positions = <17 16>;
    };

    oe-g_R {
        bindings = <&kp G>;
        key-positions = <28 17>;
    };

    oa-sklctrl_R {
        bindings = <&sk_lctrl_lock>;
        key-positions = <17 27>;
    };

    ot-d_R {
        bindings = <&kp D>;
        key-positions = <17 26>;
    };

    ne-m_R {
        bindings = <&kp M>;
        key-positions = <16 28>;
    };

    na-f_R {
        bindings = <&kp F>;
        key-positions = <16 27>;
    };

    nt-skshift_R {
        bindings = <&sk_lshift_lock>;
        key-positions = <26 16>;
    };

    ea-h_R {
        bindings = <&kp H>;
        key-positions = <28 27>;
    };

    et-s_R {
        bindings = <&kp S>;
        key-positions = <28 26>;
    };

    at-r_R {
        bindings = <&kp R>;
        key-positions = <27 26>;
    };

    ieo-apos_R {
        bindings = <&kp APOS>;
        key-positions = <28 18 17>;
    };

    ien-minus_R {
        bindings = <&kp MINUS>;
        key-positions = <28 18 16>;
    };

    iea-comma_R {
        bindings = <&kp COMMA>;
        key-positions = <18 28 27>;
    };

    iet-dot_R {
        bindings = <&kp DOT>;
        key-positions = <28 18 26>;
    };

    oai-p_R {
        bindings = <&kp P>;
        key-positions = <17 27 18>;
    };

    oan-z_R {
        bindings = <&kp Z>;
        key-positions = <17 27 16>;
    };

    oae-b_R {
        bindings = <&kp B>;
        key-positions = <27 17 28>;
    };

    oat-x_R {
        bindings = <&kp X>;
        key-positions = <27 17 26>;
    };

    nti-q_R {
        bindings = <&kp Q>;
        key-positions = <26 16 18>;
    };

    nto-v_R {
        bindings = <&kp V>;
        key-positions = <26 16 17>;
    };

    nte-j_R {
        bindings = <&kp J>;
        key-positions = <28 16 26>;
    };

    nta-k_R {
        bindings = <&kp K>;
        key-positions = <26 16 27>;
    };

    ieoa-del_R {
        bindings = <&kp DELETE>;
        key-positions = <28 18 17 27>;
    };

    ient-slnav_R {
        bindings = <&sticky_navlock>;
        key-positions = <28 18 26 16>;
        layers = <0>;
    };

    eitn-nav-tog_R {
        bindings = <&tog 2>;
        key-positions = <28 18 26 16>;
        layers = <2>;
    };

    oant-slnum_R {
        bindings = <&sticky_numlock>;
        key-positions = <27 17 16 26>;
        layers = <0>;
    };

    oant-num-tog_R {
        bindings = <&tog 3>;
        key-positions = <27 17 16 26>;
        layers = <3>;
    };

    ion-ret_R {
        bindings = <&kp RET>;
        key-positions = <18 17 16>;
    };

    iot-paste_R {
        bindings = <&kp LC(V)>;
        key-positions = <18 17 26>;
    };

    ian-copy_R {
        bindings = <&kp LC(C)>;
        key-positions = <18 16 27>;
    };

    eon-cut_R {
        bindings = <&kp LC(X)>;
        key-positions = <28 17 16>;
    };

    ean-redo_R {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <28 27 16>;
    };

    iat-undo_R {
        bindings = <&kp LC(Z)>;
        key-positions = <26 27 18>;
    };

    eot-pscrn_R {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <17 26 28>;
    };

    eat-esc_R {
        bindings = <&gresc>;
        key-positions = <28 27 26>;
    };

    iont-caps_word_R {
        bindings = <&caps_word>;
        key-positions = <18 17 16 26>;
    };

    ntea-caps_R {
        bindings = <&kp CAPSLOCK>;
        key-positions = <16 26 27 17 28>;
    };

    ntea-insert_R {
        bindings = <&kp INSERT>;
        key-positions = <28 27 26 16>;
    };

    SPtab-home_R {
        bindings = <&kp HOME>;
        key-positions = <33 19>;
    };

    SPesc-left_R {
        bindings = <&kp LEFT>;
        key-positions = <33 19>;
    };

    SPe-pgdn_R {
        bindings = <&kp PG_DN>;
        key-positions = <33 19>;
    };

    SPa-pgup_R {
        bindings = <&kp PG_UP>;
        key-positions = <33 19>;
    };

    SPt-end_R {
        bindings = <&kp END>;
        key-positions = <33 19>;
    };

    SPi-down_R {
        bindings = <&kp DOWN>;
        key-positions = <33 19>;
    };

    SPo-up_R {
        bindings = <&kp UP>;
        key-positions = <33 19>;
    };

    SPn-right_R {
        bindings = <&kp RIGHT>;
        key-positions = <33 19>;
    };

    SPx-left_R {
        bindings = <&kp LEFT>;
        key-positions = <33 19>;
    };

    SPc-down_R {
        bindings = <&kp DOWN>;
        key-positions = <33 19>;
    };

    SPv-right_R {
        bindings = <&kp RIGHT>;
        key-positions = <33 19>;
    };

    SPtabesc-sklalt_R {
        bindings = <&sk_lalt_lock>;
        key-positions = <33 19 29>;
    };

    SPio-u_R {
        bindings = <&kp U>;
        key-positions = <33 18 17>;
    };

    SPin-c_R {
        bindings = <&kp C>;
        key-positions = <33 18 16>;
    };

    SPie-sklalt_R {
        bindings = <&sk_lmeta_lock>;
        key-positions = <33 18 28>;
    };

    SPia-y_R {
        bindings = <&kp Y>;
        key-positions = <33 18 27>;
    };

    SPit-w_R {
        bindings = <&kp W>;
        key-positions = <33 18 26>;
    };

    SPon-l_R {
        bindings = <&kp L>;
        key-positions = <33 17 16>;
    };

    SPoe-g_R {
        bindings = <&kp G>;
        key-positions = <33 28 17>;
    };

    SPoa-sklctrl_R {
        bindings = <&sk_lctrl_lock>;
        key-positions = <33 17 27>;
    };

    SPot-d_R {
        bindings = <&kp D>;
        key-positions = <33 17 26>;
    };

    SPne-m_R {
        bindings = <&kp M>;
        key-positions = <33 16 28>;
    };

    SPna-f_R {
        bindings = <&kp F>;
        key-positions = <33 16 27>;
    };

    SPnt-skshift_R {
        bindings = <&sk_lshift_lock>;
        key-positions = <33 26 16>;
    };

    SPea-h_R {
        bindings = <&kp H>;
        key-positions = <33 28 27>;
    };

    SPet-s_R {
        bindings = <&kp S>;
        key-positions = <33 28 26>;
    };

    SPat-r_R {
        bindings = <&kp R>;
        key-positions = <33 27 26>;
    };

    SPieo-apos_R {
        bindings = <&kp APOS>;
        key-positions = <33 28 18 17>;
    };

    SPien-minus_R {
        bindings = <&kp MINUS>;
        key-positions = <33 28 18 16>;
    };

    SPiea-comma_R {
        bindings = <&kp COMMA>;
        key-positions = <33 18 28 27>;
    };

    SPiet-dot_R {
        bindings = <&kp DOT>;
        key-positions = <33 28 18 26>;
    };

    SPoai-p_R {
        bindings = <&kp P>;
        key-positions = <33 17 27 18>;
    };

    SPoan-z_R {
        bindings = <&kp Z>;
        key-positions = <33 17 27 16>;
    };

    SPoae-b_R {
        bindings = <&kp B>;
        key-positions = <33 27 17 28>;
    };

    SPoat-x_R {
        bindings = <&kp X>;
        key-positions = <33 27 17 26>;
    };

    SPnti-q_R {
        bindings = <&kp Q>;
        key-positions = <33 26 16 18>;
    };

    SPnto-v_R {
        bindings = <&kp V>;
        key-positions = <33 26 16 17>;
    };

    SPnte-j_R {
        bindings = <&kp J>;
        key-positions = <33 28 16 26>;
    };

    SPnta-k_R {
        bindings = <&kp K>;
        key-positions = <33 26 16 27>;
    };

    SPieoa-del_R {
        bindings = <&kp DELETE>;
        key-positions = <33 28 18 17 27>;
    };

    SPient-slnav_R {
        bindings = <&sticky_navlock>;
        key-positions = <33 28 18 26 16>;
        layers = <33 0>;
    };

    SPeitn-nav-tog_R {
        bindings = <&tog 2>;
        key-positions = <33 28 18 26 16>;
        layers = <33 2>;
    };

    SPoant-bt_R {
        bindings = <&sl 5>;
        key-positions = <33 27 17 16 26>;
    };

    SPoant-num-tog_R {
        bindings = <&tog 3>;
        key-positions = <33 27 17 16 26>;
        layers = <33 3>;
    };

    SPion-ret_R {
        bindings = <&kp RET>;
        key-positions = <33 18 17 16>;
    };

    SPiot-paste_R {
        bindings = <&kp LC(V)>;
        key-positions = <33 18 17 26>;
    };

    SPian-copy_R {
        bindings = <&kp LC(C)>;
        key-positions = <33 18 16 27>;
    };

    SPeon-cut_R {
        bindings = <&kp LC(X)>;
        key-positions = <33 28 17 16>;
    };

    SPean-redo_R {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <33 28 27 16>;
    };

    SPiat-undo_R {
        bindings = <&kp LC(Z)>;
        key-positions = <33 26 27 18>;
    };

    SPeot-pscrn_R {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <33 17 26 28>;
    };

    SPeat-esc_R {
        bindings = <&gresc>;
        key-positions = <33 28 27 26>;
    };

    SPiont-caps_word_R {
        bindings = <&caps_word>;
        key-positions = <33 18 17 16 26>;
    };

    SPntea-caps_R {
        bindings = <&kp CAPSLOCK>;
        key-positions = <33 16 26 27 17 28>;
    };

    SPntea-insert_R {
        bindings = <&kp INSERT>;
        key-positions = <33 28 27 26 16>;
    };

    BStab-tab_R {
        bindings = <&kp TAB>;
        key-positions = <34 19>;
    };

    BSesc-del_R {
        bindings = <&kp DELETE>;
        key-positions = <34 29>;
    };

    BSe-7_R {
        bindings = <&kp N7>;
        key-positions = <34 18>;
    };

    BSa-8_R {
        bindings = <&kp N8>;
        key-positions = <34 17>;
    };

    BSt-9_R {
        bindings = <&kp N9>;
        key-positions = <34 16>;
    };

    BSi-4_R {
        bindings = <&kp N4>;
        key-positions = <34 28>;
    };

    BSo-5_R {
        bindings = <&kp N5>;
        key-positions = <34 27>;
    };

    BSn-6_R {
        bindings = <&kp N6>;
        key-positions = <34 26>;
    };

/*
// Combos with key positions 20-29 have been commented out as requested.
BSx-1_R {
bindings = <&kp N1>;
key-positions = <34 28>;
};

    BSc-2_R {
        bindings = <&kp N2>;
        key-positions = <34 27>;
    };

    BSv-3_R {
        bindings = <&kp N1>;
        key-positions = <34 26>;
    };

*/

    BStabesc-sklalt_R {
        bindings = <&sk_lalt_lock>;
        key-positions = <34 19 29>;
    };

    BSio-u_R {
        bindings = <&kp U>;
        key-positions = <34 18 17>;
    };

    BSin-c_R {
        bindings = <&kp C>;
        key-positions = <34 18 16>;
    };

    BSie-sklalt_R {
        bindings = <&sk_lmeta_lock>;
        key-positions = <34 18 28>;
    };

    BSia-y_R {
        bindings = <&kp Y>;
        key-positions = <34 18 27>;
    };

    BSit-w_R {
        bindings = <&kp W>;
        key-positions = <34 18 26>;
    };

    BSon-l_R {
        bindings = <&kp L>;
        key-positions = <34 17 16>;
    };

    BSoe-g_R {
        bindings = <&kp G>;
        key-positions = <34 28 17>;
    };

    BSoa-sklctrl_R {
        bindings = <&sk_lctrl_lock>;
        key-positions = <34 17 27>;
    };

    BSot-d_R {
        bindings = <&kp D>;
        key-positions = <34 17 26>;
    };

    BSne-m_R {
        bindings = <&kp M>;
        key-positions = <34 16 28>;
    };

    BSna-f_R {
        bindings = <&kp F>;
        key-positions = <34 16 27>;
    };

    BSnt-skshift_R {
        bindings = <&sk_lshift_lock>;
        key-positions = <34 26 16>;
    };

    BSieo-apos_R {
        bindings = <&kp APOS>;
        key-positions = <34 28 18 17>;
    };

    BSien-minus_R {
        bindings = <&kp MINUS>;
        key-positions = <34 28 18 16>;
    };

    BSiea-comma_R {
        bindings = <&kp COMMA>;
        key-positions = <34 18 28 27>;
    };

    BSiet-dot_R {
        bindings = <&kp DOT>;
        key-positions = <34 28 18 26>;
    };

    BSoai-p_R {
        bindings = <&kp P>;
        key-positions = <34 17 27 18>;
    };

    BSoan-z_R {
        bindings = <&kp Z>;
        key-positions = <34 17 27 16>;
    };

    BSoae-b_R {
        bindings = <&kp B>;
        key-positions = <34 27 17 28>;
    };

    BSoat-x_R {
        bindings = <&kp X>;
        key-positions = <34 27 17 26>;
    };

    BSnti-q_R {
        bindings = <&kp Q>;
        key-positions = <34 26 16 18>;
    };

    BSnto-v_R {
        bindings = <&kp V>;
        key-positions = <34 26 16 17>;
    };

    BSnte-j_R {
        bindings = <&kp J>;
        key-positions = <34 28 16 26>;
    };

    BSnta-k_R {
        bindings = <&kp K>;
        key-positions = <34 26 16 27>;
    };

    BSieoa-del_R {
        bindings = <&kp DELETE>;
        key-positions = <34 28 18 17 27>;
    };

    BSient-slnav_R {
        bindings = <&sticky_navlock>;
        key-positions = <34 28 18 26 16>;
        layers = <34 0>;
    };

    BSeitn-nav-tog_R {
        bindings = <&tog 2>;
        key-positions = <34 28 18 26 16>;
        layers = <34 2>;
    };

    BSoant-slnum_R {
        bindings = <&sticky_numlock>;
        key-positions = <34 27 17 16 26>;
        layers = <34 0>;
    };

    BSoant-num-tog_R {
        bindings = <&tog 3>;
        key-positions = <34 27 17 16 26>;
        layers = <34 3>;
    };

    BSion-ret_R {
        bindings = <&kp RET>;
        key-positions = <34 18 17 16>;
    };

    BSiot-paste_R {
        bindings = <&kp LC(V)>;
        key-positions = <34 18 17 26>;
    };

    BSian-copy_R {
        bindings = <&kp LC(C)>;
        key-positions = <34 18 16 27>;
    };

    BSeon-cut_R {
        bindings = <&kp LC(X)>;
        key-positions = <34 28 17 16>;
    };

    BSean-redo_R {
        bindings = <&kp LC(LS(Z))>;
        key-positions = <34 28 27 16>;
    };

    BSiat-undo_R {
        bindings = <&kp LC(Z)>;
        key-positions = <34 26 27 18>;
    };

    BSeot-pscrn_R {
        bindings = <&kp PRINTSCREEN>;
        key-positions = <34 17 26 28>;
    };

    BSeat-esc_R {
        bindings = <&gresc>;
        key-positions = <34 28 27 26>;
    };

    BSiont-caps_word_R {
        bindings = <&caps_word>;
        key-positions = <34 18 17 16 26>;
    };

    BSntea-caps_R {
        bindings = <&kp CAPSLOCK>;
        key-positions = <34 16 26 27 17 28>;
    };

    BSntea-insert_R {
        bindings = <&kp INSERT>;
        key-positions = <34 28 27 26 16>;
    };
};

behaviors {
    sticky_numlock: sticky_numlock {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sl 3>, <&tog 3>;
    };

    sticky_navlock: sticky_navlock {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sl 2>, <&tog 2>;
    };

    sticky_lshift: sticky_lshift {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sk LSHIFT>, <&kt LSHIFT>;
    };

    sticky_lctrl: sticky_lctrl {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sk LCTRL>, <&kt LCTRL>;
    };

    sticky_lmeta: sticky_lmeta {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sk LMETA>, <&kt LMETA>;
    };

    sticky_lalt: sticky_lalt {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sk LEFT_ALT>, <&kt LEFT_ALT>;
    };

    sticky_ralt: sticky_ralt {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&sk RIGHT_ALT>, <&kt RIGHT_ALT>;
    };

    sk_ralt_lock: sk_ralt_lock {
        compatible = "zmk,behavior-mod-morph";
        bindings = <&sticky_ralt>, <&kt RIGHT_ALT>;

        #binding-cells = <0>;
        mods = <(MOD_RALT)>;
    };

    sk_lalt_lock: sk_lalt_lock {
        compatible = "zmk,behavior-mod-morph";
        bindings = <&sticky_lalt>, <&kt LEFT_ALT>;

        #binding-cells = <0>;
        mods = <(MOD_LALT)>;
    };

    sk_lmeta_lock: sk_lmeta_lock {
        compatible = "zmk,behavior-mod-morph";
        bindings = <&sticky_lmeta>, <&kt LMETA>;

        #binding-cells = <0>;
        mods = <(MOD_LGUI)>;
    };

    sk_lctrl_lock: sk_lctrl_lock {
        compatible = "zmk,behavior-mod-morph";
        bindings = <&sticky_lctrl>, <&kt LCTRL>;

        #binding-cells = <0>;
        mods = <(MOD_LCTL)>;
    };

    sk_lshift_lock: sk_lshift_lock {
        compatible = "zmk,behavior-mod-morph";
        bindings = <&sticky_lshift>, <&kt LSHIFT>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };
};

keymap {
    compatible = "zmk,keymap";

    bougie {
        bindings = <
&bt BT_CLR      &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &tog 1        &tog 1      &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_CLR
&sk_lshift_lock &kp E         &kp A         &kp T         &sys_reset     &sys_reset   &kp T         &kp A         &kp E         &sk_lshift_lock
&kp RET         &kp I         &kp O         &kp N         &bootloader    &bootloader  &kp I         &kp O         &kp N         &kp RET
                              &key_repeat   &kp BSPC      &kp SPACE      &kp SPACE   &kp BSPC      &key_repeat
        >;

        label = "DEF";
    };

    qwerty {
        bindings = <
&kp Q         &kp W  &kp E   &kp R       &kp T         &kp Y     &kp U         &kp I         &kp O      &kp P
&kp A         &kp S  &kp D   &kp F       &kp G         &kp H     &kp J         &kp K         &kp L      &kp SEMI
&mt Z LSHIFT  &kp X  &kp C   &kp V       &kp B         &kp N     &kp M         &kp COMMA     &kp DOT    &mt FSLH RSHIFT
                   &tog 1  &kp BSPC  &kp SPACE      &kp RET  &kp DELETE  &sticky_numlock
        >;
    };

    nav {
        bindings = <
&kp HOME  &kp PG_DN          &kp PG_UP  &kp END   &trans     &trans  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END
&kp LEFT  &kp DOWN           &kp UP     &kp RIGHT &trans     &trans  &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT
&kp HOME  &kp RS(PAGE_DOWN)  &kp PG_UP  &kp END   &trans     &trans  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END
                             &to 0      &trans      &trans     &trans  &trans     &to 0
        >;
    };

    num {
        bindings = <
&none   &none   &none   &none   &trans     &trans  &none   &none   &none   &none
&kp N8  &kp N6  &kp N4  &kp N2  &trans     &trans  &kp N2  &kp N4  &kp N6  &kp N8
&kp N9  &kp N7  &kp N5  &kp N3  &trans     &trans  &kp N3  &kp N5  &kp N7  &kp N9
                &to 0   &kp N1  &kp N0      &kp N0  &kp N1  &to 0
        >;
    };

    sym {
        bindings = <
&none      &none      &none      &none      &trans       &trans    &none      &none      &none      &none
&kp LS(N8) &kp LS(N6) &kp LS(N4) &kp LS(N2) &trans       &trans    &kp RS(N2) &kp RS(N4) &kp RS(N6) &kp RS(N8)
&kp LS(N9) &kp LS(N7) &kp LS(N5) &kp LS(N3) &trans       &trans    &kp RS(N3) &kp RS(N5) &kp LS(N7) &kp RS(N9)
                       &to 0      &kp LS(N1) &kp LS(N0)   &kp RS(N0) &kp RS(N1) &to 0
        >;
    };

    bt {
        bindings = <
&none         &none         &none         &none         &trans    &trans  &none         &none         &none         &none
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans    &trans  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
&bt BT_CLR_ALL &bt BT_PRV   &bt BT_NXT    &bt BT_CLR    &trans    &trans  &bt BT_CLR    &bt BT_NXT    &bt BT_PRV    &bt BT_CLR_ALL
                           &to 0         &trans        &trans    &trans  &trans        &to 0
        >;
    };

    misc {
        bindings = <
&trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
                 &to 0 &trans &trans    &trans &trans &to 0
        >;
    };
};

};
